<h1>Convert <%= @user_first_currency %> to <%= @user_second_currency %></h1>

<div>
<p1>
  1 <%= @user_first_currency %> equals to <%= @exchangerate %> <%= @user_second_currency %>.
</p1>
</div>

<div>
<a href= <%="https://3000-uchicagoboot-dashboards-mn4fvmtqpm2.ws-us93.gitpod.io/forex/#{@user_first_currency}"%>>Go back</a>
</div>
