<h1>Convert <%= @user_first_currency %> to <%= @user_second_currency %></h1>

<div>
<p1>
  1 <%= @user_first_currency %> equals <%= @exchangerate %> <%= @user_second_currency %>.
</p1>
</div>

<div>
<a href= <%="/forex/#{@user_first_currency}"%>>Go back</a>
</div>
